.logo{
    width: 100px;
    height: 50px;
    
}
.header{
    background-color: rgb(77, 73, 73);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 60px;
}

.header-contenedor{
    display:flex;
    flex-direction: row;
    gap:10px;
}

.inicio{
    color:white;
    text-decoration: none;
}
.inicio:hover{
    color: white;
}

.naveg{
    color: rgba(228, 227, 227, 0.582);
    text-decoration: none;
}

.verde{
    color: green;
}

.naveg:hover{
    color: white;
}


/*--------------------------Carrusel-------------------------------*/

.carousel-item img{
    height: 35vw;
    filter: brightness(60%);
}

/*--------------------------Oradores------------------------------*/

.texto-titulo{
    text-align: center;
    line-height: 0.7;
    padding-top:20px;
}

.texto-titulo-p{
    margin:0;
}

.oradores{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    width: 70%;
    margin: 0 auto;
}
/*--------------------------Honolulu------------------------------*/

.honolulu{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.honolulu-img{
    grid-column: 1/2;
    background-image: url("../img/honolulu.jpg");
    background-size: cover;
    background-repeat: none;
    height: 500px;
}
.honolulu-texto{
    grid-column: 2/3;
    padding:15px;
    background-color: rgb(54, 53, 53);
    color: white;
}
/*--------------------------Formulario------------------------------*/
span{
    border-bottom: 2px dotted black;
}

.formulario{
    width: 50%;
    margin: 0 auto;
    padding-bottom:10px;
}
/*--------------------------Formulario------------------------------*/
.footer{
    background: linear-gradient(90deg, rgba(7,42,83,1) 80%, rgba(10,0,255,0.9346113445378151) 100%);
    height: 80px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.color{
    color:white;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.nav-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--------------------------Tickets tipo------------------------------*/

.ticket-contenedor{
    margin: 2rem 20%;
}

.ticket-tipo{
    display:flex;
    flex-direction: row;
    gap:.5rem;
}

.ticket{
    border: .2rem solid rgb(87, 167, 191);
    text-align: center;
    padding: .7rem;
    width: calc(100vw - 40vw - 1rem);
}

.amarillo{
    border-color: rgba(255, 255, 0, 0.729);
}

.ticket_porcentaje{
    font-weight: bold;
}

.ticket_footer{
    font-weight: 100;
}

/*--------------------------Tickets formulario------------------------------*/
.ticket-formulario_subtitulo{
    font-size: small;
    text-align: center;
    padding: .5rem 0;
    margin:0;
}

.ticket-formulario_titulo{
    margin:0 !important;
    text-align: center;
}

.ticket_total{
    background-color: rgb(179, 202, 210);
    padding: 1rem 0 !important;
    margin:0;
    border-radius: .5rem;
    color:rgb(45, 88, 158);
}

.tickt_total-texto{
    margin:0;
    padding-left:1rem;
}

#ticket_precio{
    margin:0;
    border:none;
}

.boton{ 
    width: calc((100vw - 40vw - 1rem)/2);
    background-color: rgb(97, 199, 97) !important;
    border:none !important;
}

.invalido{
    background-color: rgb(224, 89, 89) !important;
    color: white !important;
}